body{
    background:rgb(194, 157, 206);
    height: 500px;
}

table{
    height: 500px;
    width: 700px;
    text-align: center;
    background-color: rgb(246, 169, 92);
    margin-top: 150px;
    border-collapse: collapse;
}
td{
    st
}