 */





table{
    text-align: center;
    height: 400px;
    width: 700px;
    margin-top: 150px;
} 





/* body{
     background: rgb(144, 203, 203); */
    background-image: repeating-radial-gradient();
    

}
table{
    width: 700px;
    height: 500px;
    margin-top: 150px;
    background-color: aliceblue;
    border-right-color: blue;
    border-collapse: collapse;
    
} */